@use '../abstracts/variables';

body {
  font-family: "Inter", serif;
  color: variables.$color-black;
}


.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-ex-small {
  font-size: 12px;
}

.text-small {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;

  @media(max-width: 767px) {
    font-size: 18px;
  }

  @media(max-width: 991px) {
    font-size: 20px;
  }
}

.text-3xl {
  font-size: 30px;

  @media(max-width: 767px) {
    font-size: 24px;
  }

  @media(max-width: 991px) {
    font-size: 26px;
  }
}

.text-4xl {
  font-size: 36px;

  @media(max-width:1400px) {
    font-size: 28px;
  }
}

.text-ash {
  color: #898989;
}

.text-medi-ash {
  color: #423e3eb3;
}

.text-light-ash {
  color: #17171766;
}

.section-heading {
  font-size: 48px;
  color: #243352;
  text-transform: capitalize;

  span {
    color: #2CAAE1;
  }

  @media(max-width:767px) {
    font-size: 40px;
  }
}

.color-primary {
  color: #175DA5;
}

.color-secondary {
  color: #2CAAE1;
}