.product-cart {
    font-family: "Inter", serif;

    .container {
        @media(min-width:1300px) {
            max-width: 1240px;
        }

        .navigationss {
            .nav-l-wrap {
                @media(max-width:767px) {
                    overflow: scroll;
                }

                .link-navs {
                    color: #B1B5C3;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #B1B5C3;
                    margin-right: 30px;
                    padding-bottom: 15px;
                    padding-right: 20px;

                    @media(min-width:1200px) {
                        margin-right: 40px;
                    }

                    .num {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #B1B5C3;
                        border-radius: 50%;
                        color: #ffffff;
                        margin-right: 5px;
                    }

                    &.active {
                        color: #175DA5;
                        border-bottom: 1px solid #175DA5;

                        .num {
                            background: #175DA5;
                        }
                    }
                }
            }

            .cont-btn {
                display: flex;
                align-items: center;
                border: 1px solid #175DA5;
                color: #175DA5;
                border-radius: 5px;
                padding: 10px 15px;
            }
        }


        .cart-details {
            background: #fff;
            padding: 48px;
            border: 1px solid #E6E6E6;
            border-radius: 15px;


            @media(max-width: 991px) {
                padding: 20px;
            }

            .selection {
                border: 1px solid #EDEDED;
                border-radius: 8px;
                padding: 10px;
            }

            .s-item {
                padding-block: 30px;
                border-bottom: 1px solid #EDEDED;


                .left {
                    display: flex;
                    align-items: center;
                }

                .right {
                    color: #777E90;

                    .counter-container {
                        width: 60px;
                        padding: 0px 10px;
                        background: #FCFCFD;
                        box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.13);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #777e902c;

                        button {
                            background: transparent;
                            border: 0;
                            font-weight: bold;
                            font-size: 12px;
                            padding: 0;
                        }
                    }
                }
            }

            .conf {
                border: 2px solid #EDEDED;
                display: inline-block;
                border-radius: 25px;
                padding: 5px 20px;
                font-weight: 600;
            }


            &.payments {
                .nav-pills {
                    .nav-link {
                        color: #777E90;

                        &.active {
                            color: #fff;
                            background: #2CAAE1;
                        }
                    }
                }
            }
        }

        .cart-total {
            padding: 48px;
            background: #fff;
            color: #1F2026;
            border: 1px solid #E6E6E6;
            border-radius: 15px;

            @media(max-width: 991px) {
                padding: 20px;
            }
        }
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #B2BEB5;
        /* Ash color */
        border-radius: 4px;
        background-color: white;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    /* Style when checkbox is checked */
    input[type="checkbox"]:checked::before {
        content: "✓";
        /* Tick mark */
        font-size: 16px;
        color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.green-input {
    display: inline-block;
    border-radius: 14px;
    border: 1px solid #45B26B;
    padding: 12px;
}

.im-wrap {
    border: 3px solid #EEEEEE;
    margin-inline: 10px;
    width: 80px;
    text-align: center;

    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ff0000;
        font-size: 12px;
        color: #fff;
        right: -10px;
        position: absolute;
        top: -10px;
    }
}